<a href="https://colab.research.google.com/github/spence604/Coursera_Capstone/blob/main/Capstone_Final_Week_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Table of Contents **

**Intro**

New York is the most populous city in the United States, it is also synomous with being the financial hub of the USA as well. Successfully opening a business in a city like this can be a difficult and expensive task. As a data analyst, i hope to provide insight to see if there is too much financial risk involved, or if there will be a large profit. 

New York City is one of the most diverse cities in the world next to London and Toronto. Because of this, the city has many choices when it comes to international cusisines, there is cuisine for any nationality you can think of. My goal is to find the best location for investors to open a boba/bubble tea shop. Boba is prevalent in Asian-American communities.

**Data Used**



1.   I will be scraping demograpic data from Wikipedia https://en.wikipedia.org/wiki/Demographic_history_of_New_York_City
2.   New york has 5 Boroughs, i'll also be using wikipedia for data from it as well. https://en.wikipedia.org/wiki/Boroughs_of_New_York_City

In [1]:
# Import necessarly libraries
import numpy as np
import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# library to handle requests
import requests 

import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt

# this module helps in web scrapping.
from bs4 import BeautifulSoup
import re

#Import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

! pip install folium
import folium # map rendering library

!pip install geocoder
import geocoder

print('Libraries imported.')

/bin/bash: conda: command not found
Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.8.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from folium) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.19.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.4.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2020.12.5)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->folium) (1.1.1)
Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 3.1MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from geocoder) (1.15.0)
Collecting ratelim
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (3.0.4)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6
Libraries imported.

In [62]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/Demographic_history_of_New_York_City'
df_list = pd.read_html(url, match = "Ethnic Make-up of New York City")

In [63]:
url = pd.DataFrame(tables[0])
url.head()

,"(Ethnic Group, Ethnic Group)","(1991[6], Number)","(1991[6], %)","(2001[7], Number)","(2001[7], %)","(2011[8], Number)","(2011[8], %)","(Change 2001–2011, %)"
0,White: British[Note 1],NaN,NaN,4287861.0,59.79%,3669284,44.89%,14.43%
1,White: Irish,256470.0,3.83%,220488.0,3.07%,175974,2.15%,20.19%
2,White: Gypsy or Irish Traveller[Note 2],NaN,NaN,NaN,NaN,8196,0.10%,NaN
3,White: Other[Note 1],NaN,NaN,594854.0,8.29%,1033981,12.65%,73.82%
4,White: Total,5333580.0,79.80%,5103203.0,71.15%,4887435,59.79%,4.23%

In [58]:
# Check number of variables and names
print("There are", len(url.columns), "columns in the dataframe")
print(url.columns)

There are 8 columns in the dataframe
MultiIndex([(    'Ethnic Group', 'Ethnic Group'),
            (         '1991[6]',       'Number'),
            (         '1991[6]',            '%'),
            (         '2001[7]',       'Number'),
            (         '2001[7]',            '%'),
            (         '2011[8]',       'Number'),
            (         '2011[8]',            '%'),
            ('Change 2001–2011',            '%')],
           )

In [59]:
# flatten index and convert it into single index column dataframe
url.columns = url.columns.to_flat_index()
url.head()

,"(Ethnic Group, Ethnic Group)","(1991[6], Number)","(1991[6], %)","(2001[7], Number)","(2001[7], %)","(2011[8], Number)","(2011[8], %)","(Change 2001–2011, %)"
0,White: British[Note 1],NaN,NaN,4287861.0,59.79%,3669284,44.89%,14.43%
1,White: Irish,256470.0,3.83%,220488.0,3.07%,175974,2.15%,20.19%
2,White: Gypsy or Irish Traveller[Note 2],NaN,NaN,NaN,NaN,8196,0.10%,NaN
3,White: Other[Note 1],NaN,NaN,594854.0,8.29%,1033981,12.65%,73.82%
4,White: Total,5333580.0,79.80%,5103203.0,71.15%,4887435,59.79%,4.23%

In [ ]:
# Change column names for clarity
url = url.rename(columns={('Ethnic Group', 'Ethnic Group'): 'Ethnic Group'})
url = url.rename(columns={('1991[6]', 'Number'): '1991 Census[Number]'})
url = url.rename(columns={('1991[6]', '%'): '1991 Census[%]'})
url = url.rename(columns={('2001[7]', 'Number'): '2001 Census[Number]'})
url = url.rename(columns={('2001[7]', '%'): '2001 Census[%]'})
url = url.rename(columns={('2011[8]', 'Number'): '2011 Census[Number]'})
url = url.rename(columns={('2011[8]', '%'):'2011 Census[%]'})
url = url.rename(columns={('Change 2001–2011', '%'):'Change 2001-2011'})

# Checking whether all column names are string
print(url.columns)
all(isinstance(column, str) for column in url.columns)